@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root,
    :root.dark {
    --background1: #161616;
    --background2: #252525;
    --dark-shadow: #101010;
    --foreground: #f8f8f2;
    --foreground2: lightgray;
    --blue: #8be9fd;
    --green: #50fa7b;

    /* filters */
    --to-green: invert(84%) sepia(8%) saturate(2819%) hue-rotate(75deg) brightness(91%) contrast(118%);
    --to-foreground: invert(90%) sepia(9%) saturate(513%) hue-rotate(342deg) brightness(118%) contrast(94%);
    --to-foreground2: invert(83%) sepia(0%) saturate(113%) hue-rotate(209deg) brightness(110%) contrast(79%);
    
    /* Font families */
    --code-font: monospace;
    --body-font: Roboto,sans-serif;

    /* Smooth Scroll*/
    scroll-behavior: smooth;
}

:root.light {
    --background1: #f8f8f2;
    --background2: #D6E4E5;
    --dark-shadow: #f2f2f2;
    --foreground: #03001C;
    --foreground2: #301E67;
    --blue: #5B8FB9;
    --green: #06c636;

    /* filters */
    --to-green: invert(60%) sepia(62%) saturate(3730%) hue-rotate(94deg) brightness(99%) contrast(95%);
    --to-foreground: invert(6%) sepia(18%) saturate(7492%) hue-rotate(241deg) brightness(85%) contrast(114%);
    --to-foreground2: invert(13%) sepia(31%) saturate(4074%) hue-rotate(239deg) brightness(96%) contrast(101%);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width:6px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    opacity: 1;
}
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 3px;
}

body {
    font-family: var(--body-font);
    background-color: var(--background1);
    color: var(--foreground);
    overflow: overlay;
}

nav {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(6px);
    z-index: 10;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: box-shadow 1s;
    box-shadow: 0 3px 8px 8px var(--dark-shadow);
}

main {
    font-size: 1.2rem;
}

a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    width: fit-content;
}

a:link {
    display: block;
}

a:visited {
    color: inherit;
}

.listed-element::before {
    content: "▹";
    position: relative;
    top: 0.2rem;
    font-size: 2rem;
    color: var(--green);
}

.high-text {
    color: var(--blue);
    display: inline-block;
    position: relative;
}

.high-text::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.05rem;
    background-color: var(--blue);
    transition: width 0.25s ease-out;
}

.high-text:hover::before {
    width: 100%;
}

/* HOME LOAD ANIMATION */
.hidden-home-bot {
    opacity: 0;
    filter: blur(5px);
    transform: translate(0, 100px);
}

.hidden-home-top {
    opacity: 0;
    filter: blur(5px);
    transform: translate(0, -100px);
}

.shown-home {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
    transition-property: opacity, filter, transform;
    transition-duration: 1s, 1s, 1s;
    transition-delay: calc(var(--order) * 150ms + (3100ms));
}  

/* HIDE AND SHOW ELEMENTS ON SCROLL WITH INTERSECTION OBSERVER */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(0, 100px);
    transition: none;
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
}

@media(prefers-reduced-motion: no-preference) {
    body {
        overflow: hidden;
    }

    .hidden {
        transition-property: opacity, filter, transform;
        transition-duration: 1s, 1s, 1s;
    }
}

/* PRE-LOADER */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}

.loader-text {
    stroke: var(--green);
    font-size: 8rem;
    font-weight: 700;
    stroke-width: 2;
    animation: animateText 2s ease-in-out;
}

@keyframes animateText {
    0%{
        stroke-dasharray: 0 50%;
    }
    100%{
        stroke-dasharray: 50% 0;
    }
}

/* REGULAR MENU STYLE */
.nav-regular-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
}

.nav-brand {
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
}

.nav-brand::before {
    content: '<';
    color: var(--green);
    font-family: var(--code-font);
    font-size: 2.5rem;
}

.nav-brand::after {
    content: '/>';
    color: var(--green);
    font-family: var(--code-font);
    font-size: 2.5rem;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    width: 28.7rem;
    overflow: hidden;
    transition-property: width, visibility, margin-left;
    transition-duration: 1s, 1s, 1s;
}

.nav-menu-container ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-menu-container ul li:last-child a{
    color: var(--green);
}

.nav-menu-container ul li {
    display: block;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
}

.nav-menu-container ul li a {
    text-decoration: none;
    color: var(--foreground);
    transition-property: color;
    transition-duration: 1s;
}

.nav-menu-container ul li a:hover {
    color: var(--green);
}

.nav-right-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.mode-icon {
    cursor: pointer;
    margin-right: -1.5rem;
    filter: var(--to-foreground2);
    transition-property: filter;
    transition-duration: 1s;
}

.mode-icon:hover {
    filter: var(--to-green);
}

/* MOBILE MENU ICON */
.nav-menu-icon {
    height: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
    filter: var(--to-foreground2);
    transition-property: filter;
    transition-duration: 1s;
}

.nav-menu-icon:hover {
    filter: var(--to-green);
}

.menu-icon-container {
    margin-right: 0.5rem;
    display: none;
    cursor: pointer;
}

/* MOBILE MENU */
.nav-mobile-menu-container {
    display: none;
    margin-top: 0.5rem;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0);
}

.mobile-menu-img-container {
    height: 1.5rem;
    width: 3.5rem;
}

.mode-icon {
    height: 1.5rem;
}

.nav-mobile-menu-container ul {
    list-style: none;
}

.nav-mobile-menu-container li {
    cursor: pointer;
    overflow: hidden;
    transition-property: background-color, color;
    transition-duration: 1s, 1s;
}

.nav-mobile-menu-container li:hover {
    background-color: var(--green);
    color: var(--background1);
}

.nav-mobile-menu-container li a {
    text-decoration: none;
    color: var(--foreground);
    padding: 0.5rem;
    display: block;
    transition-property: color;
    transition-duration: 1s;
}

.nav-mobile-menu-container li a:hover {
    color: var(--background1);
}

/* MAIN */

.main-block:first-child {
    height: 100dvh;
}

.main-block {
    height: fit-content;
    min-height: 100dvh;
    max-width: 50rem;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    align-items: center;
}

.section-title {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--code-font);
}

.section-title::before {
    content: '<';
    color: var(--foreground);
    font-size: 2rem;
    font-family: var(--code-font);
}

.section-title::after {
    content: '/>';
    color: var(--foreground);
    font-size: 2rem;
    font-family: var(--code-font);
}

.title-br {
    width: 50%;
    height: 0;
    margin-top: 2px;
    margin-left: 3rem;
    border-bottom: 1px solid var(--green);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    height: calc(100% - 5rem);
}

.main-container:first-child {
    margin-top: 0rem;
}

/* LATERAL MENU */
.lateral-menu {
    position: fixed;
    bottom: 0;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    transition-property: height, visibility;
    transition-duration: 0.5s, 0.5s;
}

.lateral-menu ul {
    list-style: none;
}

.right {
    right: 1.5rem;
}

.left {
    margin-left: 1rem;
}

.lateral-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lateral-menu-icon {
    width: 2rem;
    margin-top: 0.2rem;
    filter: var(--to-foreground2);
    cursor: pointer;
    transition-property: transform, filter;
    transition-duration: 1s, 1s;
}

.lateral-menu-icon:hover {
    transform: translate(0px, -10px);
    filter: var(--to-green);
}

.lateral-menu-email {
    font-family: var(--code-font);
    font-size: 0.8rem;
    color: var(--foreground2);
    writing-mode: vertical-lr;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition-property: transform, color;
    transition-duration: 1s, 1s;
}

.lateral-menu-email:hover {
    transform: translate(0px, -10px);
    color: var(--green);
}

.lateral-menu-br {
    height: 14rem;
    width: 1px;
    border-left: 1px solid var(--green);
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#greeting {
    color: var(--blue);
    font-family: var(--code-font);
    font-size: 1.5rem;
}

#full-name {
    font-weight: bolder;
    font-size: 4.5rem;

}

#full-name::before{
    content: '<';
    color: var(--green);
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 7rem;
    
}

#full-name::after {
    content: '/>';
    color: var(--green);
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 7rem;
}

#intro {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--foreground2);
    text-align: left;
}

#bio {
    padding: 2rem 0rem;
    text-align: left;
}

/* ABOUT */
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.button-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width:fit-content;
    padding: 0.5rem;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 0.2rem;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
}

.button-link:hover {
    background-color: rgba(80, 250, 123, 0.1);
}

.link-img-external {
    filter: var(--to-green);
    width: 1.5rem;
}

.profile-img {
    position: relative;
    width: 15rem;
    border-radius: 50%;
    -webkit-box-shadow: inset -74px -77px 34px 14px rgba(80,250,123,1);
    -moz-box-shadow: inset -74px -77px 34px 14px rgba(80,250,123,1);
    box-shadow: inset -74px -77px 34px 14px rgba(80,250,123,1);
}

/* SKILLS */
.technologies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    margin: 3rem auto;
}

.technology-card {
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: transform;
    transition-duration: 1s;
}

.technology-card:hover {
    transform: translate(0, -20px);
}

.technology-card p {
    font-family: var(--code-font);
    color: var(--green);
}

.technology-icon{
    width: 5rem;
    filter: var(--to-green);
}

.technology-title {
    word-break: break-all;
}

/* PROJECTS */
.project-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 6rem;
    
}

.project-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    gap: 1rem;
    width: 15rem;
    height: 21rem;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 5px 5px 5px var(--dark-shadow);
    background-color: var(--background2);
    transition-property: transform;
    transition-duration: 1s;
}

.project-card:hover {
    transform: translate(0, -10px);
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.project-folder {
    width: 2rem;
    filter: var(--to-foreground2);
}

.project-external {
    width: 1.5rem;
    filter: var(--to-foreground2);
}

.project-title {
    font-weight: bolder;
}

.project-footer {
    font-family: var(--code-font);
    font-size: 0.8rem;
    color: var(--foreground2);
}

/* CONTACT */
.contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    margin-top: 20%;
    border-radius: 0.5rem;
    background-color: var(--background2);
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    aspect-ratio: 1.586;
    max-width: 30rem;
    box-shadow: 5px 5px 5px var(--dark-shadow);
}

.contact-backdrop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-backdrop a {
    width: fit-content;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    transition-property: transform, color;
    transition-duration: 1s, 1s;
}

.contact-card:hover {
    transform: translate(0, -10px);
    color: var(--green);
}   

.contact-name {
    margin-bottom: 1rem;
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 2rem;
}

.contact-icon {
    width: 1.8rem;
    filter: var(--to-foreground);
    transition-property: filter;
    transition-duration: 1s;
}

.contact-icon:hover {
    filter: var(--to-green);
}

.contact-title {
    font-size: 1.2rem;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-family: var(--code-font);
    color: var(--foreground2);
}
.github-stats-img {
    width: 0.8rem;
    filter: var(--to-foreground2);
}

.github-stats-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.github-stats-container {
    display: flex;
    gap: 0.2rem;
    transition-property: color;
    transition-duration: 1s;
}

.repo-hyperlink:hover {
    color: var(--green);
}

/* RESPONSIVE MEDIA QUERIES  */
@media only screen and (max-width: 920px) and (min-width: 756px) {
    .main-block {
        max-width: calc(100% - 7.5rem);
    }
}

@media only screen and (max-width: 755px) {
    .nav-menu-container {
        width: 0rem;
        visibility: hidden;
        margin-left: -3rem;

    }

    .mode-icon {
        margin: auto;
    }

    .menu-icon-container {
        display: flex;
        gap: 1rem;
    }

    .main-block {
        max-width: 100dvw;
    }

    .title-br {
        position: absolute;
        right: 2rem;
        width: 30%;
    }

    .lateral-menu{
        height: 0;
        visibility: hidden;
    }

    #greeting {
        font-size: 4dvw;
    }

    #full-name {
        font-size: 10dvw;
    }

    #full-name::before {
        font-size: 12dvw;
    }

    #full-name::after {
        font-size: 12dvw;
    }

    #intro {
        font-size: 8dvw;
    }

    .about-container {
        flex-direction: column;
    }

    .profile-img {
        margin-top: 1.5rem;
    }

    .technology-card {
        flex: 1 0 30%;
    }

    .projects-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .project-container {
        margin-bottom: 0;
    }

    .project-img {
        display: none;
    }

    .project-card {
        position: static;
        width: 100%;
    }

    .contact-title {
        font-size: 1rem;
    }
}