:root {
    --background: #0A2647;
    --background1: #161616;
    --background2: #144272;
    --background3: #205295;
    --background4: #2C74B3;
    --dark-shadow: #101010;
    --foreground: #f8f8f2;
    --foreground2: lightgray;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --organge: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;

    --code-font: "Cascadia Mono-SemiLight",Menlo,Monaco,Consolas,monospace;
    --body-font: "Segoe UI Web (West European)","Segoe UI",BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width:6px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    opacity: 1;
}
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 3px;
}

body {
    font-family: var(--body-font);
    background-color: var(--background1);
    color: var(--foreground);
    overflow: overlay;
}

nav {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(6px);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    box-shadow: 0 3px 8px 8px var(--dark-shadow);
}

a {
    display: block;
}

.high-text {
    color: var(--cyan);
}

/* REGULAR MENU STYLE */
.nav-regular-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    width: 100vw;
}

.nav-brand {
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 1.5rem;
}

.nav-brand::before {
    content: '<';
    color: var(--green);
}

.nav-brand::after {
    content: '/>';
    color: var(--green);
}

.nav-menu-container {
    margin-left: -0.5rem;
    display: flex;
    align-items: center;
    width: 27.5rem;
    overflow: hidden;
    transition: all 0.2s;
}

.nav-menu-container ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-menu-container ul li:last-child{
    border: 1px solid var(--green);
    border-radius: 0.2rem;
}

.nav-menu-container ul li:last-child:hover{
    background-color: rgba(80, 250, 123, 0.1)
}

.nav-menu-container ul li:last-child a{
    color: var(--green);
}

.nav-menu-container ul li {
    display: block;
    padding: 0.2rem 0.5rem;
    transition: all 0.5s;
    white-space: nowrap;
}

.nav-menu-container ul li a {
    text-decoration: none;
    color: var(--foreground);
    transition: all 0.5s;
}
.nav-menu-container ul li a:hover {
    color: var(--green);
    transition: all 0.5s;
}

.nav-right-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.mode-icon {
    cursor: pointer;
}

/* MOBILE MENU ICON */
.nav-menu-icon {
    height: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.menu-icon-container {
    margin-right: 0.5rem;
    display: none;
    cursor: pointer;
}

/* MOBILE MENU */
.nav-mobile-menu-container {
    display: none;
    margin-top: 0.5rem;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
}

.mobile-menu-img-container {
    height: 1.5rem;
    width: 3.5rem;
}

.mode-icon {
    height: 1.5rem;
}

.nav-mobile-menu-container ul {
    list-style: none;
}

.nav-mobile-menu-container li {
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
}

.nav-mobile-menu-container li:hover {
    background-color: var(--green);
    color: var(--background1);
}

.nav-mobile-menu-container li a {
    text-decoration: none;
    color: var(--foreground);
    padding: 0.5rem;
    transition: all 0.5s;
    display: block;
}

.nav-mobile-menu-container li a:hover {
    color: var(--background1);
}

/* RESPONSIVE MENU MEDIA QUERY */
@media only screen and (max-width: 755px) {
    .nav-menu-container {
        width: 0rem;
        visibility: hidden;
        margin-left: -3rem;
    }

    .menu-icon-container {
        display: flex;
        gap: 1rem;
    }
}

/* MAIN */

.main-block {
    height: 100vh;
    max-width: 50rem;
    min-width: 22rem;
    padding-top: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.section-title {
    color: var(--cyan);
    font-size: 1.5rem;
    font-weight: bolder;
}

.section-title::before {
    content: '<';
    color: var(--foreground);
    font-size: 2rem;
    font-family: var(--code-font);
}

.section-title::after {
    content: '/>';
    color: var(--foreground);
    font-size: 2rem;
    font-family: var(--code-font);
    border-bottom: 1px solid white;
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#greeting {
    color: var(--cyan);
    font-family: var(--code-font);
    font-size: 1.5rem;
}

#full-name {
    font-weight: bolder;
    font-size: 4.5rem;

}

#full-name::before{
    content: '<';
    color: var(--green);
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 7rem;
    
}

#full-name::after {
    content: '/>';
    color: var(--green);
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 7rem;
}

#intro {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--foreground2);

}

#bio {
    padding: 2rem 0rem;
}