:root {
    --background: #282a36;
    --current-line: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --organge: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;

    --code-font: "Cascadia Mono-SemiLight",Menlo,Monaco,Consolas,monospace;
    --body-font: "Segoe UI Web (West European)","Segoe UI",BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
}

body {
    font-family: var(--body-font);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}