:root {
    --background1: #161616;
    --dark-shadow: #101010;
    --foreground: #f8f8f2;
    --foreground2: lightgray;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;

    --code-font: "Cascadia Mono-SemiLight",Menlo,Monaco,Consolas,monospace;
    --body-font: "Segoe UI Web (West European)","Segoe UI",BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid white; */
}

::-webkit-scrollbar {
    width:6px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    opacity: 1;
}
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 3px;
}

body {
    font-family: var(--body-font);
    background-color: var(--background1);
    color: var(--foreground);
}

nav {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(6px);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 8px 8px var(--dark-shadow);
}

main {
    font-size: 1.2rem;
}

a:link {
    display: block;
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.high-text {
    color: var(--cyan);
    display: inline-block;
    position: relative;
}

.high-text::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.05rem;
    background-color: var(--cyan);
    transition: width 0.25s ease-out;
}

.high-text:hover::before {
    width: 100%;
}

/* PRE-LOADER */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}

.loader-text {
    stroke: var(--green);
    font-size: 8rem;
    font-weight: 700;
    stroke-width: 2;
    animation: animateText 2s ease-in-out;
}

@keyframes animateText {
    0%{
        stroke-dasharray: 0 50%;
    }
    100%{
        stroke-dasharray: 50% 0;
    }
}

/* REGULAR MENU STYLE */
.nav-regular-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
}

.nav-brand {
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-brand::before {
    content: '<';
    color: var(--green);
    font-family: var(--code-font);
    font-size: 1.5rem;
}

.nav-brand::after {
    content: '/>';
    color: var(--green);
    font-family: var(--code-font);
    font-size: 1.5rem;
}

.nav-menu-container {
    margin-left: -0.5rem;
    display: flex;
    align-items: center;
    width: 27.5rem;
    overflow: hidden;
    transition: all 0.2s;
}

.nav-menu-container ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-menu-container ul li:last-child{
    border: 1px solid var(--green);
    border-radius: 0.2rem;
}

.nav-menu-container ul li:last-child:hover{
    background-color: rgba(80, 250, 123, 0.1)
}

.nav-menu-container ul li:last-child a{
    color: var(--green);
}

.nav-menu-container ul li {
    display: block;
    padding: 0.2rem 0.5rem;
    transition: all 0.5s;
    white-space: nowrap;
}

.nav-menu-container ul li a {
    text-decoration: none;
    color: var(--foreground);
    transition: all 0.5s;
}
.nav-menu-container ul li a:hover {
    color: var(--green);
    transition: all 0.5s;
}

.nav-right-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.mode-icon {
    cursor: pointer;
    filter: invert(91%) sepia(3%) saturate(588%) hue-rotate(1deg) brightness(112%) contrast(95%);
    transition: all 0.5s;
}

.mode-icon:hover {
    filter: invert(87%) sepia(41%) saturate(788%) hue-rotate(64deg) brightness(107%) contrast(96%);
}

/* MOBILE MENU ICON */
.nav-menu-icon {
    height: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.menu-icon-container {
    margin-right: 0.5rem;
    display: none;
    cursor: pointer;
}

/* MOBILE MENU */
.nav-mobile-menu-container {
    display: none;
    margin-top: 0.5rem;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, 0);
}

.mobile-menu-img-container {
    height: 1.5rem;
    width: 3.5rem;
}

.mode-icon {
    height: 1.5rem;
}

.nav-mobile-menu-container ul {
    list-style: none;
}

.nav-mobile-menu-container li {
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
}

.nav-mobile-menu-container li:hover {
    background-color: var(--green);
    color: var(--background1);
}

.nav-mobile-menu-container li a {
    text-decoration: none;
    color: var(--foreground);
    padding: 0.5rem;
    transition: all 0.5s;
    display: block;
}

.nav-mobile-menu-container li a:hover {
    color: var(--background1);
}

/* MAIN */

.main-block:first-child {
    height: 100dvh;
}

.main-block {
    height: fit-content;
    min-height: 100dvh;
    max-width: 50rem;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    align-items: center;
}

.section-title {
    color: var(--cyan);
    font-size: 1.5rem;
    font-weight: bolder;
}

.section-title::before {
    content: '<';
    color: var(--foreground);
    font-size: 2rem;
    font-family: var(--code-font);
}

.section-title::after {
    content: '/>';
    color: var(--foreground);
    font-size: 2rem;
    font-family: var(--code-font);
}

.title-br {
    width: 50%;
    height: 0;
    margin-top: 2px;
    margin-left: 3rem;
    border-bottom: 1px solid var(--green);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    height: calc(100% - 5rem);
}

/* LATERAL MENU */
.lateral-menu {
    position: fixed;
    bottom: 0;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    transition: all 0.3s;
}

.lateral-menu ul {
    list-style: none;
}

.right {
    bottom: 0;
    right: 1.5rem;
}

.left {
    margin-left: 1rem;
} 

.lateral-menu-icon {
    width: 2rem;
    margin-top: 0.2rem;
    filter: invert(87%) sepia(0%) saturate(1597%) hue-rotate(142deg) brightness(108%) contrast(74%);
    transition: all 1s;
    cursor: pointer;
}

.lateral-menu-icon:hover {
    transform: translate(0px, -10px);
    filter: invert(66%) sepia(42%) saturate(586%) hue-rotate(83deg) brightness(109%) contrast(106%);
}

.lateral-menu-email {
    font-family: var(--code-font);
    font-size: 0.8rem;
    color: var(--foreground2);
    writing-mode: vertical-lr;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 1s;
}

.lateral-menu-email:hover {
    transform: translate(0px, -10px);
    color: var(--green);
}

.lateral-menu-br {
    height: 14rem;
    width: 1px;
    border-left: 1px solid var(--green);
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#greeting {
    color: var(--cyan);
    font-family: var(--code-font);
    font-size: 1.5rem;
}

#full-name {
    font-weight: bolder;
    font-size: 4.5rem;

}

#full-name::before{
    content: '<';
    color: var(--green);
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 7rem;
    
}

#full-name::after {
    content: '/>';
    color: var(--green);
    font-family: var(--code-font);
    font-weight: bolder;
    font-size: 7rem;
}

#intro {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--foreground2);

}

#bio {
    padding: 2rem 0rem;
}

/* ABOUT */
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-img {
    width: 15rem;
    border-radius: 0.2rem;
    transition: all 0.5s;
}

.profile-img:hover {
    box-shadow:  19px 19px 38px #46dc6c,
                -19px -19px 38px #5aff8a;
}

/* SKILLS */
.technologies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    margin: 3rem auto;
}

.technology-card {
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.technology-card:hover {
    transform: translate(0, -20px);
}

.technology-card p {
    font-family: var(--code-font);
    color: var(--green);
}

.technology-icon{
    width: 5rem;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    font-family: var(--code-font);
    color: var(--foreground2);
}
.github-stats-img {
    width: 0.8rem;
    filter: invert(91%) sepia(3%) saturate(588%) hue-rotate(1deg) brightness(112%) contrast(95%);
}

.github-stats-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.github-stats-container {
    display: flex;
    gap: 0.2rem;
}

.repo-hyperlink {
    transition: all 0.5s;
}

/* RESPONSIVE MEDIA QUERIES  */
@media only screen and (max-width: 920px) and (min-width: 756px) {
    .main-block {
        max-width: calc(100% - 7.5rem);
    }
}

@media only screen and (max-width: 755px) {
    .nav-menu-container {
        width: 0rem;
        visibility: hidden;
        margin-left: -3rem;
    }

    .menu-icon-container {
        display: flex;
        gap: 1rem;
    }

    .main-block {
        max-width: 100dvw;
    }

    .title-br {
        position: absolute;
        right: 2rem;
        width: 30%;
    }

    .lateral-menu{
        height: 0;
        visibility: hidden;
    }

    #greeting {
        font-size: 3dvw;
    }

    #full-name {
        font-size: 10dvw;
    }

    #full-name::before {
        font-size: 12dvw;
    }

    #full-name::after {
        font-size: 12dvw;
    }

    #intro {
        font-size: 8dvw;
    }

    .about-container {
        flex-direction: column;
    }

    .technology-card {
        flex: 1 0 25%;
    }
}